<div class="project-box-wrapper">
    <div class="project-box" [style.background-color]="color">
        <div class="project-box-header">
            <span>{{item.title}}</span>
            <div class="more-wrapper">
                <button class="project-btn-more">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                        viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                        stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-more-vertical">
                        <circle cx="12" cy="12" r="1" />
                        <circle cx="12" cy="5" r="1" />
                        <circle cx="12" cy="19" r="1" />
                    </svg>
                </button>
            </div>
        </div>
        <div class="project-box-content-header">
            <p class="box-content-header">{{item.property}}</p>
            <p class="box-content-subheader">{{item.subtitle}}</p>
        </div>
        <div class="box-progress-wrapper">
            <p class="box-progress-header">Progress</p>
            <div *ngIf="item.progress <= 30">
                <div class="box-progress-bar">
                    <span class="box-progress" [style.width]="item.progress + '%' " style="background-color: #ff352e"></span>
                </div>
            </div>
            <div *ngIf="item.progress > 30 && item.progress <= 50">
                <div class="box-progress-bar">
                    <span class="box-progress" [style.width]="item.progress + '%'" style="background-color: #ff942e"></span>
                </div>
            </div>
            <div *ngIf="item.progress > 50">
                <div class="box-progress-bar">
                    <span class="box-progress" [style.width]="item.progress + '%'" style="background-color: #7df779"></span>
                </div>
            </div>
            <p class="box-progress-percentage">{{item.progress}}%</p>
        </div>
        <div class="project-box-footer">
            <div class="days-left" style="color: #ff942e;">
                Finish the : {{item.deadline | date}}
            </div>
        </div>
    </div>
</div>