@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
.circle {
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    font-size: 25px;
    color: #fff;
    text-align: center;
    background-image: linear-gradient(to right top, #857cf0, #4a9cfd, #2ab5f7, #56c8ea, #8cd7de);
    font-family: 'Varela Round', sans-serif;
}